<div>
    <div class="modal-header">
        <h3 class="modal-title">{{tarefaGrupo.tarefa.titulo}}</h3>
    </div>
    <div class="modal-body">
        <h4>Descrição</h4>
        <p>{{tarefaGrupo.tarefa.descricao}}</p>
        <h4>Resposta</h4>
        <p ng-if="tarefaGrupo.tarefa.tipoTarefa == 0">{{tarefaGrupo.resposta}}</p>
        <img ng-if="tarefaGrupo.tarefa.tipoTarefa == 1" ng-src="{{tarefaGrupo.srcImagem}}" style="max-width:100%; max-height:100%;"
        />
        <iframe ng-if="tarefaGrupo.tarefa.tipoTarefa == 2" width="420" height="345" ng-src="{{tarefaGrupo.srcVideo | trusted}}"></iframe>
        
        <button ng-if="tarefaGrupo.tarefa.tipoTarefa == 3 && !obj.mostrarMapa" class="btn btn-primary" type="button" ng-click="obj.mostrarMapa = true">Mostrar Mapa</button>
        <div ng-if="tarefaGrupo.tarefa.tipoTarefa == 3 && obj.mostrarMapa == true" style="height: 400px">
            <ng-map id="mapa" zoom="18" center="current">
                <shape id="circle" name="circle" centered="true" stroke-color='#00549A' stroke-opacity="0.8" stroke-weight="2" center="[{{tarefaGrupo.tarefa.latitude}}, {{tarefaGrupo.tarefa.longitude}}]"
                    radius="{{tarefaGrupo.tarefa.raio}}" editable="false"></shape>
                <marker position="[{{tarefaGrupo.latitude}}, {{tarefaGrupo.longitude}}]" centered="true"></marker>
            </ng-map>
        </div>
        <h4>Nota</h4>
        <uib-rating ng-model="rate" max="10" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['um','dois','três','quatro','cinco','seis','sete','oito','nove', 'dez']"
            aria-labelledby="default-rating"></uib-rating>
        <span class="label" ng-class="{'label-error': nota < 1, 'label-warning': nota<3, 'label-info': nota>=3 && nota<7, 'label-success': nota>=7}"
            ng-show="overStar">{{nota}}</span>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>