<div class="jumbotron">
    <input ng-show="tarefasGincana.length > 0" class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Buscar tarefas..."
    />
    <table ng-show="tarefasGincana.length > 0" class="table table-striped">
        <tr>
            <th>Grupo</th>
            <th>Responsável</th>
            <th>Tarefa</th>
            <th>Tipo</th>
            <th>Nota</th>
            <th>Situação</th>
            <th>Ação</th>
        </tr>
        <tr ng-repeat="tg in tarefasGincana">
            <td>{{tg.grupo.nome}}</td>
            <td>{{tg.usuario.nome}}</td>
            <td>{{tg.tarefa.titulo}}</td>
            <td>{{tg.tarefa.tipoTarefa | tipoTarefa}}</td>
            <td>{{tg.nota | notaTarefa: tg.situacao}}</td>
            <td>{{tg.situacao | situacaoTarefa}}</td>
            <td ng-show="{{tg.situacao != 2}}">-</td>
			<td ng-show="{{tg.situacao == 2}}"><a style="cursor:pointer" ng-click="avaliarTarefa(tg)">Avaliar</a></td>
        </tr>
    </table>
    <hr/>
    <a class="btn btn-primary btn-block" ng-click="finalizarGincana()">Finalizar Gincana</a>
    <a class="btn btn-primary btn-block" href="#/gincanas">Voltar</a>
</div>