<div class="jumbotron">
	<form name="grupoForm">
		<h3>Cadastrar Grupo</h3>
		<input class="form-control" type="text" ng-model="grupo.nome" name="nome" placeholder="Nome" ng-required="true"/>
	</form>
	<button class="btn btn-primary btn-block" ng-click="salvarGrupo(grupo)">Salvar Grupo</button>
    <button class="btn btn-primary btn-block" ng-click="voltar()">Voltar</button>
</div>