<div class="jumbotron">
	<form name="tarefaForm">
		<h3>Cadastrar Tarefa</h3>
		<input class="form-control" type="text" ng-model="tarefa.titulo" name="titulo" placeholder="Título" ng-required="true" />
		<input class="form-control" type="text" ng-model="tarefa.descricao" name="descricao" placeholder="Descrição" ng-required="true"
		/>
		<select class="form-control" ng-model="tarefa.tipoTarefa" ng-options="tpTar.tipo for tpTar in tiposTarefa track by tpTar.ID ">
			<option value="">Selecione o tipo</option>
		</select>
		<div ng-if="tarefa.tipoTarefa.ID == 3" style="height: 400px">
			<ng-map zoom="18" center="{{posicao === undefined? 'current-position': posicao }}">
				<shape id="circle" name="circle" centered="true" stroke-color='#00549A' stroke-opacity="0.8" stroke-weight="2" center="{{posicao === undefined? 'current-position': posicao }}"
					radius="{{raio === undefined? 50: raio}}" editable="true"></shape>
			</ng-map>
		</div>
	</form>
	<button class="btn btn-primary btn-block" ng-click="salvarTarefa(tarefa)">Salvar Tarefa</button>
	<button class="btn btn-primary btn-block" ng-click="voltar()">Voltar</button>
</div>