<div class="jumbotron">
	<form name="gincanaForm">
		<h3>Cadastrar Gincana</h3>
		<input class="form-control" type="text" ng-model="gincana.titulo" name="titulo" placeholder="Título" ng-required="true" />
		<input class="form-control" type="text" ng-model="gincana.descricao" name="descricao" placeholder="Descrição" ng-required="true"
		/>
	</form>
	<button class="btn btn-primary btn-block" ng-click="salvarGincana(gincana)">Salvar Gincana</button>
	<a class="btn btn-primary btn-block" href="#/gincanas">Voltar</a>
</div>