<div class="jumbotron">
	<h3>Tarefas</h3>
    <input ng-show="tarefas.length > 0" class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Buscar tarefas..."/>
	<table ng-show="tarefas.length > 0" class="table table-striped">
		<tr>
			<th>Título</th>
			<th>Descrição</th>
            <th>Tipo</th>
            <th>Dependências</th>
		</tr>
		<tr ng-repeat="t in tarefas | filter:criterioDeBusca">
			<td><a href="#/editarTarefa/{{t.id}}">{{t.titulo}}</a></td>
			<td>{{t.descricao}}</td>
            <td>{{t.tipoTarefa}}</td>
            <td><a href="#/dependenciaTarefa/{{t.id}}">Cadastrar</a></td>
		</tr>
	</table>
	<hr/>
	<a class="btn btn-primary btn-block" href="#/novoTarefa/{{gincana.id}}">Adicionar Tarefa</a>
	<a class="btn btn-primary btn-block" href="#/gincanas">Voltar</a>
</div>