<ion-view view-title="Perfil">
    <ion-content class="has-header">
        <div class="list">
            <a class="item item-avatar" href="#">                
                <img src="http://graph.facebook.com/{{user.id}}/picture" />
                <h2>{{user.name}}</h2>
                <p>{{user.location.name}}</p>
                <!--<img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270" />-->                
                <!--<p>{{user.id}}</p>
                <p>{{user.name}}</p>
                <p>{{user.first_name}}</p>
                <p>{{user.last_name}}</p>
                <p>{{user.age_range}}</p>
                <p>{{user.link}}</p>
                <p>{{user.gender}}</p>
                <p>{{user.locale}}</p>
                <p>{{user.picture}}</p>
                <p>{{user.timezone}}</p>
                <p>{{user.updated_time}}</p>
                <p>{{user.verified}}</p>-->
            </a>
        </div>
    </ion-content>
</ion-view>