/* Empty. Add your own CSS if you like */
#map {
    height: 100%;
    width: 100%;
}

.scroll {
    height: 100%;
}

#logo {
    margin: 30px 0px;
}

.border-black {
    border: 1px solid black;
}

.welcome {
    height: 100%;
    background-color: rgb(0,95,160);
    text-align: center;
}

#google-map {
  height: 60%;
  margin: auto;
}

#niveis {
    position: absolute;
    width: 35px;
    top: 15px;
    left: 15px;
    text-align: center;
    font-size: 22px;
    box-shadow: 0px 0px 4px grey;
}

#niveis > ul > li {
    color: black;
    background-color: white;
    padding: 7px;
}

#niveis > ul > li > a {
    text-decoration: none;
}

#mapa {
    width: 100%;
}

#rota {
    width: 100%px;
    height: 60px;
    background-color: #f8f8f8;
    border-top: 1px solid gray;
}

#rota ul {
    float: left;
    margin-left: 5px;
}

#rota ul li {
    line-height: 29px;
}

#rota button {
    /*position: relative;*/
    float: right;
    height: 60px;
    width: 80px;
    border: none;
    background-color: dodgerblue;
    color: white;
}

#localiza 
{
    position: fixed;
    right: 10px;
    bottom: 20%;
}

#pesquisa 
{
    position: fixed;
    right: 10px;
    bottom: 11%;
}

.button.active, .ionic .button.activated 
{
    border-color: #a2a2a2;
    background-color: #e5e5e5;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.button
{
    border-color: #b2b2b2;
    background-color: #f8f8f8;
}