<ion-modal-view view-title="" ng-controller="delegarTarefaCtrl">
    <ion-header-bar>
        <button class="button" ng-click="modal.hide()">Voltar</button>
        <button class="button button-positive" ng-click="atribuirTarefa()">Confirmar</button>
    </ion-header-bar>

    <ion-content class="padding">
        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="getUsuarios()">
        </ion-refresher>
        <h4 style="color: rgb(0, 0, 0);">Selecione o responsável pela tarefa</h4>
        <div class="card" ng-repeat="u in usuarios">
            <ion-radio class="item item-avatar" ng-model="usuarios.selecionado" value="{{u.id}}">
                <img ng-src="{{u.urlImagem}}" />
                <h2>{{u.nome}}</h2>
            </ion-radio>
        </div>
    </ion-content>
</ion-modal-view>