<ion-view view-title="FURB Mobile">
    <ion-content class="padding">
        <button class="button button-block button-positive" ng-click="abrirGincanas()">
                Gincanas
        </button>
    </ion-content>
</ion-view>