<ion-modal-view ng-controller="gruposCtrl as vm">

    <ion-header-bar>
        <button class="button" ng-click="modal.hide()">Voltar</button>
        <button class="button button-positive" ng-click="entrarGrupo()">Confirmar</button>
    </ion-header-bar>

    <ion-content class="padding" ng-controller="gruposCtrl">
        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="getGrupos()">
        </ion-refresher>
        <h4 style="color: rgb(0, 0, 0);">Escolha um grupo para participar</h4>
        <div class="card" ng-repeat="g in grupos">
            <ion-radio class="item" ng-model="vm.selecionado.id" value="{{g.id}}">
                {{g.nome}}
            </ion-radio>
        </div>
    </ion-content>
</ion-modal-view>