<ion-view view-title="Tarefas">

    <ion-content class="padding has-footer">
        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="getTarefas()">
        </ion-refresher>

       <!-- <ion-checkbox ng-model="obj.ehusuarioLider">É líder</ion-checkbox> -->

        <div class="card" ng-repeat="t in tarefasGrupo" ng-click="resolverTarefa(t)">
            <div class="item item-divider">
                {{t.tarefa.titulo}}
            </div>
            <div class="item item-text-wrap">
                {{t.tarefa.descricao}}
            </div>
            <div class="item item-divider">
                {{t.tarefa.tipoTarefa}}
            </div>
        </div>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-balanced">
        <a ng-click="abrirPlacar()" class="title">Placar</a>
    </ion-footer-bar>

</ion-view>