<ion-view view-title="FURB Mobile 2016" name="login-view">

    <ion-content class="padding">
        <div class="list card">

            <div class="item item-body">
                <img style="margin-left: auto;margin-right: auto;display: block;" src="../www/pages/login/login.png">
            </div>

            <button class="button button-outline button-block  button-positive" ng-click="login()">
                <i class="ion-social-facebook"></i> Login com Facebook
            </button>
        </div>
    </ion-content>
</ion-view>